
.degree-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
}

.slider {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px; /* Aligned with the search bar */
}

.legend-icon-container {
  position: fixed;
  bottom: 50px;
  left: 50px;
  cursor: pointer;
}

.legend-icon {
  width: 30px;
  height: 30px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.legend-overlay {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-shape {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-circle {
  background: #0097e6; /* Default color for Application */
  border-radius: 50%;
}

.legend-square {
  background: #44bd32; /* Default color for Technology */
}

.legend-red {
  background: #c23616; /* Color for Past EOL */
}

.legend-orange {
  background: #e1b12c; /* Color for Nearing EOL */
}
